@model ItemWarehouseModel


<header>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
        <div class="container">
            <img class="navbar-img mx-3" src="~/images/logo.jpg" alt="no_logo">
            <div class="navbar-brand">MTM Warehouse</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="HomePage" class="nav-link mx-4"><strong>Home</strong></a>
                    </li>   
                    <li class="nav-item">
                        <a asp-controller="Action" asp-action="ListActions" class="nav-link mx-4"><strong>Actions</strong></a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Action" asp-action="ReportPage" class="nav-link mx-4"><strong>Reports</strong></a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Logout" class="btn btn-outline-danger btn-sm btn-floating mx-4 p-2">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<section class="bg-dark text-light p-2 text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">

            <div class="container col-4 mx-2">
                <h1 class="text-start" style="color: yellowgreen">Items Details</h1>
                <p class="my-4 text-start">
                    Add your inventory.
                </p>
            </div>

            <div class="col-3 p-3">
                <img class="img-fluid rounded img-thumbnail" style="height: 200px; width:200px" src="~/images/Items.jpg">
            </div>

        </div>
    </div>
</section>



<div class="container mt-4">
    <h4 class="text-center mb-4" style="font-weight: bold; font-size:30px  ; color: #005f9b;">Item Detail</h4>
</div>

<div class="container-md ">

    <form asp-controller="Warehouse" asp-action="AddItem" method="post" enctype="application/x-www-form-urlencoded">

        <div class="row">
            <div class="container col-6 my-4">

                <div class="row">
                    <div class="col-4">
                        <label for="WarehouseItems.Item_Name">Name</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control " asp-for="WarehouseItems.Item_Name">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="WarehouseItems.Item_Unit_Quant">Quantity Count</label>
                    </div>
                    <div class="col-6">
                        <input type="number" step="0.1" class="form-control " asp-for="WarehouseItems.Item_Unit_Quant">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="WarehouseItems.Item_Capacity_Quant">Space Required by 1 unit(in Sq. Ft)</label>
                    </div>
                    <div class="col-6">
                        <input type="number" step="0.1" class="form-control " asp-for="WarehouseItems.Item_Capacity_Quant">
                    </div>
                </div>                


                <div class="row">
                    <div class="col-4">
                        <label for="WarehouseInfo.W_Name">Add in </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control " asp-for="WarehouseInfo.W_Name" readonly> <span> Warehouse</span>
                    </div>
                </div>

                <input type="hidden" asp-for="@Model.WarehouseInfo.WarehouseInfoId">
                <input type="hidden" asp-for="@Model.WarehouseInfo.W_Name">


            </div>

            <div class="col-5 pt-3 row justify-content-center">
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-primary ">Submit</button>
                    <a asp-controller="Warehouse" asp-action="OpenWarehouse" asp-route-id="@Model.WarehouseInfo.WarehouseInfoId" class=" btn btn-outline-danger"><strong>Cancel</strong></a>
                </div>

                <div class="col-12 justify-content-center">
                    @if (TempData.ContainsKey("LastActionMessage"))
                    {
                        <div class="container px-5">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                @TempData["LastActionMessage"]                                
                            </div>
                        </div>
                    }
                </div>

                <div class="col-12 align-items-start">
                    <div asp-validation-summary="All" class="text-danger" style="list-style:none"></div>
                </div>


            </div>

        </div>
    </form>
</div>