

<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
    <div class="container">
        <img class="navbar-img mx-3" src="~/images/logo.jpg" alt="no_logo">
        <div class="navbar-brand">MTM Warehouse</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="HomePage" class="nav-link mx-4"><strong>Home</strong></a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Action" asp-action="ListActions" class="nav-link mx-4"><strong>Actions</strong></a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Action" asp-action="ReportPage" class="nav-link mx-4"><strong>Reports</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


@*<div class="container m-5">

     <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-2">
                <div class="d-grid gap-2">
                    <a asp-controller="Action" asp-action="AddWarehousePage" class="btn btn-outline-dark btn-sm btn-floating" type="button" role="button"><strong class="fs-3">+</strong></a>
                </div>
                <p class="fs-3 text-center">Add warehouse</p>
            </div>

            <div class="col-2">
                <div class="d-grid gap-2">
                    <a asp-controller="Action" asp-action="AddManagingRoles" class="btn btn-outline-dark btn-sm btn-floating" type="button" role="button"><strong class="fs-3">+</strong></a>
                </div>
                <p class="fs-3 text-center">Add roles</p>

            </div>

            <div class="col-2">
                <div class="d-grid gap-2">
                    <a asp-controller="Action" asp-action="AddEmployeeData" class="btn btn-outline-dark btn-sm btn-floating" type="button" role="button"><strong class="fs-3">+</strong></a>
                </div>
                <p class="fs-3 text-center">Add employees</p>
            </div>
        </div>
    </div>
    </div> *@

    <div class="container my-1">
        <div class="row g-auto mx-auto my-5 justify-content-evenly">

            <div class="col-2">
                <div class="card" style="width: 14rem;">
                    <img src="~/images/W-micro.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title text-center text-info"><strong>Warehouse</strong></h5>
                        <p class="card-text text-center">Number of warehouse</p>
                        <p class="card-text text-center fs-1"><strong>- 0 -</strong></p>
                        <div class="col-12">
                            <div class="d-grid gap-2">
                                <a asp-controller="Action" asp-action="AddWarehousePage" class="btn btn-outline-dark btn-sm btn-floating" type="button" role="button"><strong class="fs-3">+</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card" style="width: 14rem;">
                    <img src="~/images/manager-micro.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title text-center text-info"><strong>Roles</strong></h5>
                        <p class="card-text text-center">Number of Roles assigned</p>
                        <p class="card-text text-center fs-1"><strong>- 0 -</strong></p>
                        <div class="col-12">
                            <div class="d-grid gap-2">
                                <a asp-controller="Action" asp-action="AddManagingRoles" class="btn btn-outline-dark btn-sm btn-floating" type="button" role="button"><strong class="fs-3">+</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card" style="width: 14rem;">
                    <img src="~/images/Employees.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title text-center text-info"><strong>Employees</strong></h5>
                        <p class="card-text text-center">Number of Employees</p>
                        <p class="card-text text-center fs-1"><strong>- 0 -</strong></p>
                        <div class="col-12">
                            <div class="d-grid gap-2">
                                <a asp-controller="Action" asp-action="AddEmployeeData" class="btn btn-outline-dark btn-sm btn-floating" type="button" role="button"><strong class="fs-3">+</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



